.footer ,.footer2{
    text-align: center;
    padding: 20px 0; 
    margin-top: 60px;
    background-color: orange;
    width:100vw;

}

.footer-content {
    margin-bottom: 20px; 
}

.footer .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px; 
}

.footer .social-icons a {
    color: black;
    font-size: 24px; 
    transition: transform 0.3s;

}

.footer .social-icons a:hover {
    color: white;
    transform: scale(1.05);
}
.newsletter{
    margin-top: 30px;
}
.newsletter input{
    height: 40px;
    width: 18%;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
    padding: 5px;
}

.footer-bottom {
    padding-top: 10px; 
    margin-bottom: 30px;
}
