
.nutrients-container {
    padding: 40px; 
    width: 100vw;
    max-width: 1200px; 
    margin: 100px auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1d5ab;
    border-radius: 10px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
}

.nutrients-container h1 {
    margin-top: 50px;
    margin-bottom: 30px; 
    color: rgb(155, 89, 8);
    font-size: 2.5rem; 
    text-align: center; 
}

.nutrients-container h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    margin-top: 40px; 
    color: rgb(182, 119, 41);
    text-align: center; 
}

.nutrients-container img {
    width: 100%;
    max-width: 600px;
    height: auto; 
    border-radius: 8px; 
    margin-bottom: 30px; 
}

.nutrients-container p {
    width: 80%; 
    text-align: justify; 
    margin-bottom: 20px; 
    line-height: 1.6; 
    font-size: 1.1rem; 
    color: #333;
}

.nutrients-table {
    width: 80%; 
    border-collapse: collapse;
    margin: 30px 0;
}

.nutrients-table th,
.nutrients-table td {
    border: 1px solid rgb(155, 89, 8);
    padding: 10px; 
    text-align: left;
}

.nutrients-table th {
    background-color: #a86436;
    font-weight: bold;
    color: rgb(56, 50, 50)
}

.nutrients-table td {
    vertical-align: middle;
}

.nutrients-table td:nth-child(2), 
.nutrients-table td:nth-child(3),
.nutrients-table td:nth-child(4) {
    text-align: center; 
}

.nutrients-table tr:hover {
    background-color: rgba(155, 89, 8, 0.1); 
    transition: background-color 0.3s;
}
